.navbar-horizontal {
    height: 54px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-style: none none solid none;
    border-width: 0.03rem;
    background-color: white;
    border-color: #dbdbdb;
    position: fixed;
    top: 0;
    z-index: 5;
}

.nav-content {
    width: 935px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-mobile, .title-mobile, .arrow-mobile, .mobile-navbar {
    display: none;
}

.logo {
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo ion-icon, .icons {
    font-size: 22px;
}

.logo ion-icon {
    margin-right: 0.65rem;
}

.logo img {
    margin-top: 0.45rem;
    margin-left: 0.65rem;
    height: 29px;
    width: 103px;
}

.logo div {
    height: 22px;
    width: 1px;
    border-color: #dbdbdb;
    border-style: solid;
    border-width: 0.25px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 9rem;
}

.search-bar {
    height: 28px;   
    width: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search-bar p {
    position: absolute;
    font-weight: 400;
    font-size: 12px;
    color: #979797;
    z-index: 6;
}

.search-bar input{
    width: 215px;
    height: 28px;
    background-color: #fafafa;
    border-color: #dbdbdb;
    border-radius: 3px;
    position: absolute;
}

.search-bar:hover > p {
    display: none;
}

.search-bar input:focus {
    outline: none;
}

.search-bar input, .stories-container, .posts-container {
    border-style: solid;
    border-width: 0.03rem;
}

.stories-container {
    width: 614px;
    height: 118px;
    margin-top: 34px;
    padding: 18px 0 14px 18px;
    display: flex;
    align-items: center;
    overflow: hidden;
    list-style: none;
    position: relative;
    background-color: white;
    border-color: #dbdbdb;
    border-radius: 3px;
}

.stories-container ion-icon {
    font-size: 26px;
    position: absolute;
    z-index: 4;
    right: 9px;
    filter: drop-shadow(0 1px 1px gray);
    color: #ffffff;
}

.stories-container ion-icon:hover, .story-image:hover, .logo img:hover, ion-icon:hover,
    .story p:hover, .post-header img, .post-header p, .sidebar-profile img, .sidebar-profile img, .sidebar-profile span, .suggestions-head span,
        .suggestion span, .suggestion-profile img, .suggestion-name span, .links, .caption-likes span, .caption-likes img,
             .caption-comments p, .caption-comments span, .comment-input img, .comment-input p {
    cursor: pointer;
}

.story {
    height: 87px;
    width: 66px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 14px;
}

.story-image {
    height:66px;
    width: 66px;
}

.story .story-border {
    height: 66px;
    position: absolute;
    z-index: 0;
}

.story .story-icon {
    margin: 5px 0 0 5px;    
    height: 56px;
    width: 56px;
    border-radius: 28px;
    position: absolute;
    z-index: 1;
}

.story p {
    position: absolute;
    bottom: 0;
    margin: 0 3px;
    min-width: 58px;
    max-width: 78px;
    height: 19px;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.posts-container {
    margin-top: 24px;
    width: 614px;
    background-color: #fafafa;
    border-style: none;
}

.post-header {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-style: solid;
    height: 61px;
    justify-content: space-between;
    padding: 0 1rem;
}

.post-header img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-right: 0.6rem;
}

.post-header p {
    font-size: 14px;
    font-weight: 600;
    color: #262626;
}

.post-image, .post-header, .post-caption {
    border-color: #dbdbdb;
    border-width: 1px;
}

.post-image {
    border-style: none solid;
    display: flex;
    align-items: center;
    background-color: black;
}

.post-image img, .post-image video {
    width: 612px;
    height: 612px;
}

.header-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-caption {
    background-color: #ffffff;
    height: fit-content;
    border-style: solid;
    display: flex;
    flex-direction: column;
    padding: 0.7rem 0.7rem 1rem 0.7rem;
}

.post-caption ion-icon {
    font-size: 22px;
}

.post {
    width: 100%;
    margin-bottom: 60px;
}

.post:last-child {
    margin-bottom: 0;
}

.caption-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caption-icons-left ion-icon {
    margin-right: 0.6rem;
    margin-bottom: 0.4rem;
}

.caption-icons-left ion-icon:last-child {
    margin-right: 0;
}

.caption-likes {
    display: flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
}

.caption-likes p {
    margin: 0;
    font-size: 14px;
}

.caption-likes span {
    font-weight: 600;
}

.caption-likes img {
    height: 20px;
    width: 20px;
    margin-right: 0.4rem;
}

.caption-comments {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.caption-comments span {
    font-size: 0.6rem;
    color: #979797;
    width: fit-content;
}

.caption-comments p {
    color: #979797;
    margin: 0.7rem 0;
    width: fit-content;
}

.comment, .comment-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-text {
    margin-bottom: 0.7rem;
}

.comment-text span {
    font-weight: 600;
    margin-top: 0;
    margin-right: 0.3rem;
    font-size: inherit;
    color: #262626;
}

.comment-text p {
    margin: 0;
    color: #262626;
}

.comment ion-icon {
    font-size: 0.9rem;
}

.comment-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-style: none solid solid solid;
    border-width: 1px;
    border-color: #dbdbdb;
    background-color: #ffffff;
    padding: 0.8rem 0.7rem;
}

.comment-input img {
    height: 1.4rem;
    width: auto;
    padding-right: 0.7rem;
}

.comment-input input {
    border-style: none;
    width: 100%;
    font-size: 14px;
}

.comment-input input:focus {
    outline: none;
}

.comment-input p {
    font-size: 12px;
    font-weight: 600;
    color: #B2DFFC;
    margin: 0;
    transition: color 0.3s;
}

.comment-input p:hover {
    color: #0095F6;
}

.sidebar-container {
    width: 293px;
    height: fit-content;
    margin-top: 57px;
    display: flex;
    flex-direction: column;
}

.sidebar-profile {
    display: flex;
}

.sidebar-profile img {
    height: 56px;
    width: 56px;
    border-radius: 28px;
}

.sidebar-profile {
    display: flex;
    align-items: center;
}

.sidebar-suggestions {
    display: flex;
    flex-direction: column;
}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    color: #c7c7c7;
}

.links {
    margin: 1.2rem 0;
}

.suggestions-head {
    font-size: 12px;
    color: #8e8e8e;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0 0.5rem 0;
    align-items: center;
}

.suggestions-head span {
    font-weight: 600;
    color: #262626;
}

.suggestion-profile {
    display: flex;
    font-size: 12px;
    align-items: center;
}

.suggestion-profile img {
    height: 32px;
    width: 32px;
    border-radius: 16px;
}

.suggestion {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.suggestion span {
    color: #139EF2; 
    font-weight: 600; 
    font-size: 12px;
}

.suggestion-name {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #8e8e8e;
    margin-left: 0.7rem;
}

.suggestion-name p {
    margin-top: 0.2rem;
    margin-bottom: 0;
}

.suggestion-name span {
    color: #262626; 
    font-weight: bold;
    font-size: 14px;
}

.profile-name {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin: 0 0 0 1rem;
    color: #8e8e8e
}

.profile-name span {
    color: #262626;
    font-weight: bold;
}

.main-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage {
    margin-top: 54px;
    height: 100%;
    width: 935px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 935px) {
    .sidebar-container {
        display: none;
    }

    .homepage {
        justify-content: center;
    }
}

@media (max-width: 614px) {
    .search-bar, .logo, .icons, .stories-container ion-icon {
        display: none;
    }

    .logo-mobile, .arrow-mobile, .title-mobile {
        display: block;
        height: 1.4rem;
        margin: 0;
        padding: 0;
    }

    .navbar-horizontal, .mobile-navbar {
        padding: 0 1.6rem;
        font-size: 1.4rem;
        align-items: center;
        justify-content: space-between;
    }
    
    .nav-content {
        align-items: center;
    }

    .stories-container {
        background-color: #fafafa;
        border-style: none;
    }

    .posts-container, .stories-container {
        margin-top: 0;
        width: 100%;
    }

    .homepage, .main-section, .main-content {
        width: 100%;
    }

    .post-image img, .post-image video {
        width: 100%;
        height: auto;
    }
    
    .post {
        height: fit-content;
    }
    
    .mobile-navbar {
        height: 54px;
        width: 100%;
        justify-content: center;
        border-style: solid none none none;
        border-width: 0.03rem;
        background-color: white;
        border-color: #dbdbdb;
        position: fixed;
        bottom: 0;
        z-index: 6;
        display: flex;
        justify-content: space-between;
    }
}