.navbar-horizontal {
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
    border-style: none none solid none;
    border-width: 0.03rem;
    background-color: white;
    border-color: rgba(176, 176, 176, 0.64);
    position: fixed;
    z-index: 5;
}

.nav-content {
    width: 935px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo ion-icon, .icons {
    font-size: 22px;
}

.logo ion-icon {
    border-style: none solid none none;
    border-width: 0.01rem;
    border-color: rgba(0, 0, 0, 0.31);
    padding-right: 0.65rem;
}

.logo img {
    margin-top: 0.45rem;
    padding-left: 0.65rem;
    height: 29px;
    width: 103px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 9rem;
}

.search-bar {
    height: 28px;   
    width: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search-bar p {
    position: absolute;
    font-weight: 400;
    font-size: 12px;
}

.search-bar input{
    width: 215px;
    height: 28px;
    background-color: rgba(240, 240, 240, 0.3);
    border-color: rgba(189, 189, 189, 0.47);
    border-radius: 3px;
    position: absolute;
    color: #979797;
}

.search-bar input, .stories-container, .posts-container {
    border-style: solid;
    border-width: 0.03rem;
}

.stories-container, .posts-container {
    background-color: white;
    border-color: rgba(176, 176, 176, 0.64);
    border-radius: 3px;
}

.stories-container {
    width: 614px;
    height: 118px;
    padding: 18px 0 14px 18px;
    display: flex;
    align-items: center;
    overflow: hidden;
    list-style: none;
    margin: 0;
}

.story {
    height: 87px;
    width: 66px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story-image {
    height:66px;
    width: 66px;
}

.story .story-border {
    height: 66px;
    position: absolute;
    z-index: 0;
}

.story .story-icon {
    margin: 5px 0 0 5px;    
    height: 56px;
    width: 56px;
    border-radius: 28px;
    position: absolute;
    z-index: 1;
}

.story p {
    position: absolute;
    bottom: 0;
    margin: 0 3px;
    min-width: 58px;
    max-width: 78px;
    height: 19px;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.posts-container {
    margin-top: 24px;
    width: 614px;
    height: 749px;
}

.post-header {
    display: flex;
}

.post-header img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

.post-image img {
    width: 612px;
    height: 612px;
}

.sidebar-container {
    width: 293px;
    height: 30%;
}

.main-section {
    margin-top: 88px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.homepage {
    width: 935px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}